<form class="{{cssClass}} fex-fate-actor" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="fex-fate-actor-header">
        <div class="fex-header-wrapper">
            <div class="fex-avatar-wrapper">
                <img class="profile-img fex-avatar-image" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
            <div class="fex-content-wrapper">
                <div class="fex-fate-core-description">
                    <h1>
                        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                    </h1>
                    <div class="fex-core-parameters-row">
                        <div class="fex-core-parameters-cell">
                            <div class="fex-label">
                                Fate points
                            </div>
                            <input type="text" id="data.fate.points" readonly
                                   value="{{data.fate.points}}"
                                   data-dtype="Number">
                        </div>
                        <div class="fex-core-parameters-cell">
                            <div class="fex-label">
                                Refresh points
                            </div>
                            <input type="text" id="data.fate.refresh" readonly
                                   value="{{data.fate.refresh}}"
                                   data-dtype="Number">
                        </div>
                    </div>
                    <div class="fex-core-parameters-row">
                        <div class="fex-core-parameters-cell">
                            <div class="fex-label">
                                Available refresh
                            </div>
                            <input type="text" id="data.advancedInfo.refreshPointsLasts"
                                   readonly
                                   value="{{data.advancedInfo.refreshPointsLasts}}" data-dtype="Number">
                        </div>
                        <div class="fex-core-parameters-cell">
                            <div class="fex-label">Skill points
                            </div>
                            <input type="text" id="data.advancedInfo.skillPointsLasts"
                                   readonly
                                   value="{{data.advancedInfo.skillPointsLasts}}" data-dtype="Number">
                        </div>
                    </div>
                    <div class="fex-fate-point-buttons">
                        <button class="fate-point-use" id="give-fate-point"
                                {{data.advancedInfo.isGiveFatePointButtonDisabled}}>Give Fate point
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab description" data-tab="description">
            <button class="fex-add-aspect" id="add-aspect">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <div class="tab items" data-tab="items">
            two
        </div>
    </section>
</form>