<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- Header stuff goes here --}}
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>
            <div class="fate-core-description grid grid-2col">
                <div class="flexrow flex-center flex-between">
                    <label for="data.fate.points">Fate Points available / refreshes</label>
                    <div class="fate-points flex-row flex-group-center">
                        <input type="text" id="data.fate.points" value="{{data.fate.points}}" data-dtype="Number">
                        <input type="text" id="data.fate.refresh" value="{{data.fate.points}}" data-dtype="Number">
                    </div>
                </div>
                <div class="flexrow flex-center flex-between">
                    <label for="data.advancedInfo.refreshPointsLasts">Fate Points available / refreshes</label>
                    <div class="fate-advanced-info flex-row flex-group-center">
                        <input type="text" id="data.advancedInfo.refreshPointsLasts"
                               value="{{data.advancedInfo.refreshPointsLasts}}" data-dtype="Number">
                        <input type="text" id="data.advancedInfo.skillPointsLasts"
                               value="{{data.advancedInfo.skillPointsLasts}}" data-dtype="Number">
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Tab content goes here --}}
        any content here
    </section>
</form>