.char-header {
    vertical-align: baseline;
    border-style: solid;
    border-radius: 20px;
    align-items: start !important;
    padding: 10px;
    height: fit-content;
    flex: 0 1 100px;
}

.char-image {
    height: 120px !important;
    max-width: 120px !important;
    max-height: 120px !important;
    border: none !important;
}

.fate-point-use {

}

.flexrow {
    margin: 5px;
}

.image-wrapper {
    flex: 0 0 0px !important;
    width: fit-content;
    height: 100%;
}


/** ====================================================================
 * Dialog styles
 */

.fex-dialog {
    margin: 5px;
}

/** ====================================================================
 * Chat styles
 */

.fex-chat-message {

}

.fex-chat-message > .fex-header {

}

.fex-chat-message > .fex-body {
    display: block;
}

.fex-chat-message .fex-text {
    width: 70%;
    display: inline-block;
    word-break: break-word;
}

.fex-chat-message .fex-message-symbol {
    width: 25%;
    display: inline-block;
    font-family: "Fate Icons";
}

.fex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50pt;
}

.fex-chat-message .fex-body-obligatory-text {
    font-weight: bold;
}

.fex-chat-message .fex-footer {
    border-top: 1px solid #782e22;
    margin-top: 0;
    margin-bottom: 0;
}

@font-face {
    font-family: "Fate Icons";
    src: url("/systems/FateExtended/templates/fonts/fate_icons.ttf");
}
