.point-color-above-0 {
    color: black;
    background: #D1E2C4;
}

.point-color-above-1 {
    color: black;
    background: #BED0AD;
}

.point-color-above-2 {
    color: black;
    background: #ACBE96;
}

.point-color-above-3 {
    color: black;
    background: #99AD7F;
}

.point-color-above-4 {
    color: black;
    background: #879B68;
}

.point-color-above-5 {
    color: white;
    background: #748951;
}

.point-color-above-6 {
    color: white;
    background: #62783A;
}

.point-color-above-7 {
    color: white;
    background: #4F6623;
}

.point-color-above-8 {
    color: white;
    background: #3D550C;
}

.point-color-below-1 {
    color: black;
    background: #D2CCB1;
}

.point-color-below-2 {
    color: black;
    background: #D4B79E;
}

.point-color-below-3 {
    color: black;
    background: #D6A18B;
}

.point-color-below-4 {
    color: black;
    background: #D88C78;
}

.point-color-below-5 {
    color: black;
    background: #D97665;
}

.point-color-below-6 {
    color: white;
    background: #DB6152;
}

.point-color-below-7 {
    color: white;
    background: #DD4B3F;
}

.point-color-below-8 {
    color: white;
    background: #DF362D;
}