<div class="fx-chat-message">
    <div class="fx-body-row">
        <div class="fx-row">
            <b><p class="fx-label">{{data.label}}</p></b>
        </div>
    </div>
    <div class="fx-header-row">
        <div class="fx-header">
            <h2>{{data.name}}</h2>
        </div>
    </div>
    <div class="fx-body-row">
        <div class="fx-row">
            <p class="fx-description">{{{data.description}}}</p>
        </div>
    </div>
</div>