<form autocomplete="off" class="{{cssClass}} flexcol">
    <div class="form-group form-group-stacked">
        <div class="form-fields">
            {{> "systems/FateExtended/templates/item/parts/TextInput.hbs"
                    headline="aspect.form.name"
                    field=data.name
                    fieldName="data.name"
            }}
        </div>
        <div class="form-fields">
            {{> "systems/FateExtended/templates/item/parts/TextInput.hbs"
                    headline="aspect.form.label"
                    field=data.label
                    fieldName="data.label"
            }}
        </div>
        <div class="form-fields">
            {{> "systems/FateExtended/templates/item/parts/TextArea.hbs"
                    headline="aspect.form.description"
                    field=data.description
                    fieldName="data.description"
            }}
        </div>
    </div>
</form>


