<div class="fex-aspect-wrapper">
    <div class="fex-aspect-row">
        <label for="aspect.label">{{labelText}}</label>
        <input type="text" id="aspect.label"
               value="{{aspect.label}}">
    </div>
    <div class="fex-aspect-row">
        <label for="aspect.name">{{nameText}}</label>
        <input type="text" id="aspect.name"
               value="{{aspect.name}}">
    </div>
    <div class="fex-aspect-row">
        <label for="aspect.description">{{descriptionText}}</label>
        <textarea id="aspect.description" rows="3">{{aspect.description}}</textarea>
    </div>
</div>
