<div class="form-group">
    <label for="{{fieldName}}" class="form-label">
        <span>{{localize headline}}</span>
        {{#if help}}<span>{{localize help}}</span>{{/if}}
        <div class="editor-wrapper">
            {{editor content=field target=fieldName button=true owner=owner editable=editable}}
        </div>
    </label>
</div>